body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

html{
    margin: 0;
    padding: 0;
    height: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BFD9DD;
    height: 10%;
    padding-left: 50px;
    padding-right: 50px;
}

#menu{
    display: flex;
    gap: 60px;
    margin-left: 50%;
    
}

#menu a{
    color:black;
    font-size: x-large;
    text-decoration: none;
}

#menu a:hover{
    color: #353535;
    transition: color 0.15s ease;
}

.social-icons{
    display: flex;
    justify-content: flex-end;
}

.social-icons img{
    width: 50px;
    height: 50px;
    margin: 10px;
}

.home img{
    width: 50px;
    height: 50px;
    margin: 10px;
}


#home-body{
    display: flex;
    background-image: url('background.png');
    background-size: cover;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

#home-body ul{
    padding: 0;
    margin: 200px 0 0 150px;

}

#home-body li{
    font-size: 2em;
    margin-top: 40px;

}


ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.live-play{
    justify-self: right;
}


footer{
    background-color: #BFD9DD;
    padding: 0;
    height: 10%;
}

#menu-bottom{
    display: flex;
    gap: 60px;
    height: 100%;
    align-items: center;
    margin-left: 50px;
}

#menu-bottom a, li{
    color:black;
    font-size: x-large;
    text-decoration: none;
}

#menu-bottom a:hover{
    color: #353535;
    transition: color 0.15s ease;   
}


.form{
    margin-left: 15%;
    padding-top: 100px;
    height: 100%;
    box-sizing: border-box;
}

.form h1{
    font-size: 3em;
    margin: 0;
}

.form h2{
    margin: 0;
    margin-top: 30px;
    margin-bottom: 5px;
}

form{
    display: flex;
    flex-direction: column;
}

form input{
    width: 30%;
}

.submit{
    bottom: 10;
    left: 0;
    padding: 10px;
    outline: 1px solid black;
    background-color: lightgray;
    color: black;
    border: none;
    border-radius: 5px;
    width: 80px;
    margin-top: 20px;
}


textarea{
    max-width: 50%;
}

.body{
    box-sizing: border-box;
    padding: 80px;
}

#open{
    display: flex;
    flex-direction: row;
    background-color: #D8D8D8;
    padding: 80px;
    border-radius: 10px;
}

#open .h2{
    font-weight: normal;
    font-size: 2em;
    margin-bottom: 100px;
}

#open li{
    margin-bottom: 30px;
}

#open img{
    width: 40%;
    height: auto;
}

.title{
    font-size: 3em;
}

#skills-facts h1{
    font-size: 2em;
    margin-bottom: 5px;
}

#skills-facts li{
    list-style-type: disc;
    margin: 0 0 0 30px;
    padding: 5px;
}

.items{
    box-sizing: border-box;
    padding: 80px;
}

.items section{
    display: flex;
    margin-bottom: 170px;
}

.items section div{
    background-color: gray;
    width: 50%;
    margin-left: 10%;
}

.live-play{
    margin-left: 0px;
    margin-right: 10%;
}





@media (max-width: 1400px) {
    #menu{
        margin-left: 20px;  
        margin-right: 20px; 
    }
}

@media (max-width: 750px) {
    #menu{
            margin-left: 20px;  
            margin-right: 20px; 
    }
    .social-icons{
        height: 0;
        width: 0;
    }
    .social-icons img{
        height: 0;
        width: 0;
    }

}